/* General Style */

* {
    margin: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1150px;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    padding: 10px 25px;
}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    color: #ffffff;
    font-size: 20px;
    border-radius: 4px;
    padding: 14px 27px;
    margin: 2px;
}

.btn-border {
    background-color: transparent;
    color: #FD6E0A;
    font-size: 20px;
    border-radius: 4px;
    padding: 14px 27px;
    border: 2px solid #FD6E0A;
    margin: 2px;
}

.color-primary {
    color: #FD6E0A
}

.title {
    text-align: center;
    font-size: 35px;
    font-style: normal;
    margin: 25px 0px;
}

.pera {
    font-size: 18px;
    line-height: 35px;
}

/* General Style End  */


/* header area  */
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.logo {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    text-align: left;
}

header {
    background: #FFF8F3;
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, center left;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner h2 {
    font-size: 40px;
    font-weight: 400;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    margin-top: 20px;
}

.banner p {
    width: 500px;
    margin: 20px 0px;
}


/* About Section  */

.about-content {
    max-width: 1140px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 90px 50px;
    margin: 150px 50px;
    box-shadow: 0px 0px 40px #e1dddd;
}

.about-content .self-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 30px;
}


/* What I do section  */


.skill-intro {
    max-width: 768px;
    margin: auto;
    text-align: center;
}

.skill-lang {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px;
}

.skill-lang .column {
    padding: 40px 20px;
    box-shadow: 0px 0px 10px #e1dddd;
    margin: 10px;
    text-align: center;
}

.skill-lang .column h3 {
    margin: 20px 0px;
}

.skill-lang .column p {
    font-size: 17px;
    line-height: 28px;
}


/* Resume section  */
.resume {
    margin: 100px 0px;
}

.resume .cv-down-btn {
    text-align: center;
}

.edu-expe {
    display: flex;
    gap: 50px;
    max-width: 1100px;
    margin: auto;
    padding: 50px 0px 80px;
}

.edu-expe h2,
.edu-expe h3 {
    margin: 20px 0px;
}

.education .sub-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #757575;
    margin-bottom: 8px;
}

/* contact section  */

footer {
    background-color: #FFF8F3;
    padding: 130px 0px;
}

.footer-info {
    display: flex;
    justify-content: space-evenly;
}

.footer-info .left p {
    font-size: 18px;
    line-height: 28px;
    max-width: 400px;
    margin: 20px 0px;
}


.footer-info .right form input[type="text"],
.footer-info .right form input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    height: 35px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
}

.footer-info .right form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
    border: none;
    margin-bottom: 20px;
}

footer nav ul li a {
    padding: 14px;
    color: #FD6E0A;
}

footer nav ul li a:first-child {
    padding-left: 0px;
}

footer nav ul {
    flex-direction: start;
    padding: 0px;
}